<!DOCTYPE html>
<html>

<head>
<title>AI Background Remover</title>
</head>

<body>

<h2>Upload Image</h2>

<form action="/remove-bg" method="post" enctype="multipart/form-data">

<input type="file" name="file" required>

<h3>Select Background Color</h3>

R: <input type="number" name="r" value="255" min="0" max="255"><br>
G: <input type="number" name="g" value="255" min="0" max="255"><br>
B: <input type="number" name="b" value="255" min="0" max="255"><br><br>

<button type="submit">Process Image</button>

</form>

</body>

</html>